.video {
    .first-screen {
        background-image: url(../img/banner-video-page.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 22.5rem;
        position: relative;
        &__title {
            >span {
                left: 7rem;
                width: 23.5rem;
            }
        }
    }
}

.video__select {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    top: -84px;
    > span {
        display: inline-block;
        margin-right: 14px;
        color: $text-s;
    }
    .select {
        color: $text;
    }
    .select-styled {
        &:hover {
            color: $wh;
        }
        &::after {
            content: '\f107';
            font-family: 'FontAwesome';
            border: none;
            height: 100%;
            width: 1rem;
            top: 0;
            font-size: 1rem;
            line-height: 40px;
            color: $text-s;
        }
        &.active {
            color: $wh;
            &::after {
                content: '\f106';
                top: -2px;
            }
        }
    }
    .select-options {
        color: $wh;
    }
}

.video-content {
    padding-bottom: 4rem;
}

.video-container {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2.2rem;
    position: relative;
    iframe {
        width: 100%;
        height: 13.75rem;
    }
    &__video {
        width: 100%;
        height: 13.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
        .play {
            position: absolute;
            background: url(../img/icon/play-btn.png) no-repeat center center;
            width: inherit;
            height: inherit;
        }
    }
    &__title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        margin-top: 1.3rem;
    }
    p{
        margin: 0;
        height: 3rem;
        overflow: hidden;
    }
    &__icon {
        background: url(../img/icon/Logo_icon-video.svg) no-repeat center center;
        position: absolute;
        top: 0.7rem;
        left: 1rem;
        width: 2.4rem;
        height: 2.8em;
    }
}

.popup-video-open{
    top: 50%;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    padding: 5rem 10rem;
    background: #000;
    height: 50vh;
    width: 980px;
    opacity: 0;  
    z-index: 999;
    text-align: center;
  }

@media only screen and (max-width: 1440px) {
    .video {
        .first-screen__title {
            >span {
                left: 5rem;
            }
        }
    }
}


@media only screen and (max-width: 1199.8px){
    .video {
        .first-screen__title {
            >span {
                left: 4rem;
            }
        }
    }

    .video__select {
        top: -68px;
        .select-styled {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 991.8px) {
    .video__select {
        top: 0;
        position: static;
        margin-bottom: 26px;
    }
}

@media only screen and (max-width: 767.8px) {
    
}


@media only screen and (max-width: 575.8px) {
    .video {
        .first-screen {
            height: 16.5rem;
            &__title {
                >span {
                    width: auto;
                    left: 15px;
                    text-align: left;
                }
            }
        }
    }

}

@media only screen and (max-width: 425px) {
    .video__select {
        flex-direction: column;
        align-items: flex-start;
        > span {
            margin-right: 0;
            margin-bottom: 8px;
        }
        .select {
            width: 100%;
        }
    }
}


@media only screen and (min-width: 2000px) {
	.video {
        .first-screen__title {
            >span {
                left: 21%;
            }
        }
    }
}